* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A6976A;
    color: #181926;
}


#milestone-column, #task-column {
    float: left;
    width: 45%;
    margin: 20px;
}

.task {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.milestone-btn {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.milestone-btn:hover {
    background-color: #45a049;
}

button {
    margin: 10px 0;
    cursor: pointer;
    padding: 3px 10px;
    border: none;
}

input {
    font-size: 1rem;
    padding: 2px;
}
