* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A6976A;
    color: #181926;
}


#milestone-column, #task-column {
    float: left;
    width: 45%;
    margin: 20px;
}

button {
    margin: 10px 0;
    cursor: pointer;
    padding: 3px 10px;
    border: none;
}

input {
    font-size: 1rem;
    padding: 2px;
}

.active {
    border: 1px solid green;
}