main {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
    border: 1px solid #c293a4;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 0 10px #BF849A;
}

section {
    width: 48%;
    padding: 10px;
}

#task-list{

    margin-top: 20px;
}

.completed {
    opacity: 0.5;
    transition: all 0.3s ease;
}

.task {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #c293a4;
    border-radius: 5px;
    background-color: #D9B0C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-btn,
.end-btn {
    padding: 2px;
    background-color: #e0bac9;
    margin-left: 10px;
}

.timer {
    width: 70px;
    margin-left: 15px;
    display: inline-block;
    text-align: center;
}